<h1> Add a new Venue </h1>

<form action="/venues" method="post">
  <div class="form-group">
  <label for="name">Venue Name </label>
  <input id="name" class="form-control" name="name" type="text">
  <br>
  <button type="submit"> Add Venue</button>
</div>
</form>
