<h1> Add a new Venue </h1>

<form action="/venues" method="post">
  <label for="name">Venue Name </label>
  <input id="name" name="name" type="text">
  <button type="submit"> Add Venue</button>
</form>
